@using System.Diagnostics
@using Epam.FinalTask.DependencyResolver
@using Epam.FinalTask.Entities
@using Epam.FinalTask.Pl.Models
@{
    Page.Title = "Manage asset";
    Layout = "~/Layouts/_MainLayout.cshtml";
    int userId = 0;
    try
    {
        userId = DependencyResolver.UserBll.GetUserIdByLogin(User.Identity.Name);
    }
    catch (Exception e)
    {
        Logger.Log.Error("Get user by login error",e);
        Response.Redirect("~/Pages/ErrorPage.cshtml");
    }
}
@RenderPage("~/Partials/_filter.cshtml")
    <div class="userItem">
        <div><label class="inlineItem text">Create new asset</label></div>
        <form action="~/Pages/CreateAsset.cshtml" method="post" enctype="multipart/form-data">
            <input type="text" name="id" value="@userId" hidden />
            <div style="margin: 5px auto"><label class="inlineItem text">Title:</label><input style="margin-left: 50px; max-width: 602px;" type="text" name="title" size="100" required placeholder="Required field" pattern=".+" /></div>
            <div style="margin: 5px auto"><label class="inlineItem text">Version:</label><input style="margin-left: 26px; max-width: 602px;" type="text" name="version" size="100" required placeholder="Required field" pattern=".+" /></div>
            <div style="margin: 5px auto"><label class="inlineItem text">Description:</label><textarea required style="vertical-align: top; min-width: 600px; max-width: 600px; min-height: 25px;" name="description"></textarea></div>
            <div style="margin: 5px auto"><label class="inlineItem text">License:</label><textarea required style="vertical-align: top; margin-left: 24px; min-width: 600px; max-width: 600px; min-height: 25px;" name="license"></textarea></div>
            <div style="margin: 5px auto"><label class="inlineItem text">Patch note:</label><textarea required style="vertical-align: top; margin-left: 3px; min-width: 600px; max-width: 600px; min-height: 25px;" name="patchNote"></textarea></div>
            <div style="margin: 5px auto"><label class="inlineItem text">File(max 64 mb):</label><input id="file" style="margin-left: 15px;" type="file" name="file" required accept="application/zip" /></div>
            <div style="margin: 5px auto"><label class="inlineItem text">Image(max 8 mb):</label><input id="image" style="margin-left: 5px;" type="file" name="image" required accept="image/jpeg,image/png" /></div>
            <div style="margin: 5px auto">
                <label class="inlineItem text" style="vertical-align: top">Category:</label>
                @{
                    var tags = DependencyResolver.TagBll.GetAllTags();
                    int count = tags.Count() / 3 * 2;
                }
                @if (tags.Any())
                {
                    <select class="buttonSelect" style="margin-left: 62px;" multiple name="tags[]" size="@count" required>
                        @foreach (var tag in tags)
                        {
                            <option value="@tag.Id">@tag.Title</option>
                        }
                    </select>
                }
            </div>
            <div style="margin: 5px 5px;"><input class="buttonSubmit" type="submit" value="CREATE" /></div>
        </form>

        @{
            IEnumerable<Asset> assets = new List<Asset>();
            try
            {
                assets = DependencyResolver.AssetBll.GetAllAssets().Where(item => item.Parent == @userId);
            }
            catch (Exception e)
            {
                Logger.Log.Error("Get all assets error",e);
                Response.Redirect("~/Pages/ErrorPage.cshtml");
            }
        }
        @if (assets.Any())
        {
            string assetUserName = "";
            try
            {
                assetUserName = DependencyResolver.UserBll.GetUserById(userId).Name;
            }
            catch (Exception e)
            {
                Logger.Log.Error("get assets parent name",e);
            }
            <hr/>
            <div><label class="inlineItem text">Assets by @assetUserName :</label></div>
            foreach (var asset in assets)
            {
                string assetLinkId = "asset" + asset.Id;
                <div><label class="inlineItem text"><button id="@assetLinkId" class="buttonSubmit" style="margin: 5px auto;">@asset.Title</button></label></div>
                <script>
                    $('#@assetLinkId').click(function() {
                        var form = document.createElement('form');
                        form.action = 'ViewAsset';
                        form.method = 'POST';
                        form.innerHTML = '<input type="text" hidden name="id" value="@asset.Id"/>';
                        document.body.append(form);
                        form.submit();
                    });
                </script>

            }
        }


    </div>
<script>
    $('#file').on('change',
        function () {
            var size = (this.files[0].size / 1024 / 1024).toFixed(2);
            if (size > 64) {
                alert("to big file");
                this.value = '';
            }
        });
    $('#image').on('change',
        function () {
            var size = (this.files[0].size / 1024 / 1024).toFixed(2);
            if (size > 8) {
                alert("to big file");
                this.value = '';
            }
        });
</script>